<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Tournament Information</title>
</head>
<body>
    <h1>Edit Tournament Information</h1>
    <!-- dynamically change the method to PUT from POST -->
    <form action="/tournamentinfo/<%= tournament.id %>?_method=PUT" method="POST">
        <!-- <div class="tournament-info"> -->
            <input type="hidden" name="id" value="<%= tournament._id %>">
            <!-- <div class="name"> -->
                <label for="name">Tournament Name:</label>
                <input type="text" id="name" name="name" value="<%= tournament.name %>"><br>
            <!-- </div> -->
            <!-- <div class="meta-info"> -->
                <!-- the id mention here must point to meta->game then works -->
                <label for="meta.game">Game:</label>
                <input type="text" id="meta.game" name="meta.game" value="<%= tournament.meta.game %>"><br>
                <label for="meta.platform">Platform:</label>
                <select id="meta.platform" name="meta.platform">
                    <!-- if the value is already online -> it will show the option is online in drop down -->
                    <option value="online" <%= tournament.meta.platform === 'online' ? 'selected' : '' %>>Online</option>
                    <option value="offline" <%= tournament.meta.platform === 'offline' ? 'selected' : '' %>>Offline</option>
                </select><br>
                <label for="meta.venue">Venue:</label>
                <input type="text" id="meta.venue" name="meta.venue" value="<%= tournament.meta.venue %>"><br>
                <!-- open 2024-02-22T00:00:00.000+00:00 (date data from mongodb)
                    .toISOString() converts the date object to a string in the ISO format (YYYY-MM-DDTHH:mm:ss.sssZ)
                    .split('T')[0] splits the string at the "T" character and takes the first part, which represents the date (YYYY-MM-DD). -->
                <label for="meta.register.open">Registration Open:</label>
                <input type="date" id="meta.register.open" name="meta.register.open" value="<%= tournament.meta.register.open.toISOString().split('T')[0] %>"><br>
                <label for="meta.register.close">Registration Close:</label>
                <input type="date" id="meta.register.close" name="meta.register.close" value="<%= tournament.meta.register.close.toISOString().split('T')[0] %>"><br>
                <label for="meta.running.start">Running Open:</label>
                <input type="date" id="meta.running.start" name="meta.running.start" value="<%= tournament.meta.running.start.toISOString().split('T')[0] %>"><br>
                <label for="meta.running.end">Running Close:</label>
                <input type="date" id="meta.running.end" name="meta.running.end" value="<%= tournament.meta.running.end.toISOString().split('T')[0] %>"><br>
                <label for="meta.checkin">Check-In (in minutes):</label>
                <input type="number" id="meta.checkin" name="meta.checkin" value="<%= tournament.meta.checkin %>"><br>
                <h3>Ticket: </h3>
                <label for="meta.ticket.competitor">Competitor:</label>
                <input type="number" id="meta.ticket.competitor" name="meta.ticket.competitor" value="<%= tournament.meta.ticket.competitor %>"><br>
                <label for="meta.ticket.viewer">Viewer:</label>
                <input type="number" id="meta.ticket.viewer" name="meta.ticket.viewer" value="<%= tournament.meta.ticket.viewer %>"><br>
                <!-- <input type="checkbox" id="checkin" name="checkin" <%= tournament.meta.checkin ? 'checked' : '' %>><br>
                <label for="competitorTicket">Competitor Ticket Price:</label>
                <input type="number" id="competitorTicket" name="competitorTicket" value="<%= tournament.meta.ticket.competitor %>"><br>
                <label for="viewerTicket">Viewer Ticket Price:</label>
                <input type="number" id="viewerTicket" name="viewerTicket" value="<%= tournament.meta.ticket.viewer %>"><br>
                <label for="notificationRules">Notification Rules:</label>
                <input type="text" id="notificationRules" name="notificationRules" value="<%= tournament.meta.notification.rules %>"><br>
                <label for="regulation">Regulation:</label>
                <textarea id="regulation" name="regulation"><%= tournament.meta.notification.regulation %></textarea><br> -->
             <!-- </div> -->
            <!-- <div class="setting-info">
                <h3>Settings</h3>
                <strong>Stage One:</strong> <%= tournament.setting.stageOne.format %> format<br>
                <strong>Initial Round:</strong> <%= tournament.setting.stageOne.initialRound %><br>
                <strong>Max Players:</strong> <%= tournament.setting.stageOne.maxPlayers %><br> --> 
                <!-- Add input fields for other settings if needed -->
                <!-- <strong>Status:</strong> <%= tournament.setting.status %><br>
            </div> -->

        <!-- </div> -->
        <input type="submit" value="Update Tournament">
    </form>
</body>
</html>
