<%=bestOf%>
<%=game.match_id%>
<form action="/match/insert-complete?id=<%=id%>&matchId=<%=game.match_id%>" method="POST">

    <%= game.p1 %> Versus <%= game.p2 %>

    <!-- hidden input  -->
    <% for(let x = 0; x < bestOf; x++) { %>
        <p>Game <%= x+1 %></p>
        <label for="p1score">P1: </label>
        <input type="number" id="p1score" name="p1score[]" value="<%=game.scoreP1[x]%>" min="0">
        <label for="p2score">P2: </label>
        <input type="number" id="p2score" name="p2score[]" value="<%=game.scoreP2[x]%>" min="0">
    <% } %>
    
    <input type="submit" value="Update Match">
</form>