<form action="/match/insert-complete?id=<%= id %>&matchId=<%= match.id %>" method="POST">

    <h3><%= match.player1.id %> Versus <%= match.player2.id %></h3>
    <!-- Name of the player1 name -->
    <label for="player1score">Player 1 Score: </label>
    <input type="number" id="player1score" name="player1score" value="<%=match.player1.win%>"><br>

    <!-- Name of the player2 name -->
    <label for="player2score">Player 2 Score: </label>
    <input type="number" id="player2score" name="player2score" value="<%=match.player2.win%>"><br>

    <!-- Draw value will be the same for both, means we can take player1/player2 to get the prev value -->
    <label for="draw">Draw (if any): </label>
    <input type="number" id="draw" name="draw" value="<%=match.player2.draw%>"><br>

    <input type="submit" value="Update Match">
</form>